ion-title{
	text-align: center;
	font-weight: bold;
	font-family: comic Sans Ms;
	font-size: 50px;
	background-color: pink;
}
ion-toolbar{
	color: rgb(14,56,56);
	background-color: pink;

}
ion-img{
	width: 250px;
	height: 150px;
	border-radius: 90px;
	float: left;
	
}
ion-content{
	background-color: pink;
}