<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-img src ="assets/image/mine.jpg"></ion-img>
    <ion-img src ="assets/image/a.jpg"></ion-img>
    <ion-img src ="assets/image/b.jpg"></ion-img>
    <ion-img src ="assets/image/c.jpg"></ion-img>
    <ion-img src ="assets/image/d.jpg"></ion-img>
    <ion-img src ="assets/image/e.jpg"></ion-img>
    <ion-img src ="assets/image/f.jpg"></ion-img>
    <ion-img src ="assets/image/g.jpg"></ion-img>
    <ion-img src ="assets/image/h.jpg"></ion-img>
    <ion-img src ="assets/image/i.jpg"></ion-img>
    <ion-img src ="assets/image/j.jpg"></ion-img>
    <ion-img src ="assets/image/a.jpg"></ion-img>
    <ion-img src ="assets/image/b.jpg"></ion-img>
    <ion-img src ="assets/image/c.jpg"></ion-img>
    <ion-img src ="assets/image/j.jpg"></ion-img>


 
</ion-content>
