ion-title{
	text-align: center;
	font-weight: bold;
	font-family: comic Sans Ms;
	font-size: 50px;
	background-color: gray;
}
ion-toolbar{
	color: rgb(14,56,56);
}
ion-img{
	width: 350px;
	height: 250px;
	border-radius: 100px;
	background-color: pink;
	background-size: 170px;
}
ion-body{
	background-color: gray;
}