<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <center>
  <ion-img src ="assets/image/malyn.jpg"></ion-img>
  <strong>Emmalyn Bustillo</strong>
    <p>works at Edi Sa Puso Mo </p>
    <p> Studied at Easterm Visayas State University Carigara Campus Carigara Leyte</p>
    <p> From Brgy. Canomantag Barugo, Leyte</p><tr>
    <p> Lives in Barugo Leyte</p><tr>
    <p> Single </p>
    <strong>See More About Emmalyn Bustillo</strong>
</center>
 
</ion-content>
