ion-title{
	text-align: center;
	font-weight: bold;
	font-family: comic Sans Ms;
	font-size: 50px;
	background-color: red;
}
ion-toolbar{
	color: rgb(14,30,56);
}
ion-img{
	width: 100px;
	height: 100px;
	border-radius: 70px;
	float: left;

}