<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-img src ="assets/image/mine.jpg"></ion-img>
  <strong>Emmalyn Bustillo </strong>
  <p>09764322445</p>
  <ion-img src ="assets/image/don.jpg"></ion-img>
  <strong>Maryann Martinez</strong>
  <p>09067654321 </p>
  <ion-img src ="assets/image/nor.jpg"></ion-img>
  <strong>Norie Cabazares</strong>
  <p>09674532111 </p>
  <ion-img src ="assets/image/mine.jpg"></ion-img>
  <strong>Jesseca Rosal </strong>
  <p>09764322445</p>
  <ion-img src ="assets/image/don.jpg"></ion-img>
  <strong>Donna Salinasan</strong>
  <p>09067654321 </p>
  <ion-img src ="assets/image/nor.jpg"></ion-img>
  <strong>Jelma Campo</strong>
  <p>09674532111 </p>
  <ion-img src ="assets/image/nor.jpg"></ion-img>
  <strong>MarieFe Aguilos</strong>
  <p>09057834562</p>

  



</ion-content>
